<app-header></app-header>
<div class="banner-container">
  <img src="../assets/Presentación Portafolio Creativo Minimalista Naranja.jpg" alt="Banner Image">
</div>

<section class="about-section">
  <div class="profile-picture">
    <img src="../assets/perfil.jpeg" alt="Profile Picture">
  </div>
  <div class="about-content">
    <h2>Kevin Meichtry</h2>
    <h3>Full Stack Developer Jr.</h3>
    <p>SOY UNA PERSONA QUE HACE MUY POCO ENTRE EN EL MUNDO DE LA PROGRAMACION, AUNQUE TENGA POCO CONOCIMIENTO, QUIERO SEGUIR APRENDIENDO, ADEMAS DE ADQUIRIR CONOCIMIENTOS NUEVOS, QUIERO PODER APRENDER CON GENTE NUEVA QUE SABE LO QUE HACE, TAMBIEN TENGO COMO META PODER APORTAR EFICIENTEMENTE AL EQUIPO EN EL PROYECTO QUE REALICEMOS JUNTOS.</p>
  </div>
</section>

<section class="experience-section">
   <h2>Experiencia</h2>
   <div class="experience-item">
    <div class="company-logo">
      <img src="../assets/comuna.jpg" alt="Company 1 Logo">
    </div>
    <div class="experience-details">
      <h3>Comuna de Maria Teresa Santa Fe</h3>
      <p>VARIOS TRABAJITOS</p>
      <p>2018-4 MESES</p>
      <p>BARRER LAS CALLES, PINTAR LOS CORDONES, LEVANTAR BASURA.</p>
    </div>
   </div>

   <div class="experience-item">
     <div class="company-logo">
      <img src="../assets/plastiquero.png" alt="Company 2 Logo">
     </div>
     <div class="experience-details">
      <h3>jorgue badarini plastiquero</h3>
      <p>ayudante de plastiquero</p>
      <p>4 MESES A FINES DE 2018</p>
      <p>BARRIA CUANDO ME PEDIA, ORDENABA, Y LIJABA LOS PLASTICOS DE FUMIGADORES O DE BOTES.</p>
     </div>
   </div>

   <div class="experience-item">
    <div class="company-logo">
     <img src="../assets/abalse.jpg" alt="Company 3 Logo">
    </div>
    <div class="experience-details">
     <h3>: ABALSE S.R (ASEGURADORA)</h3>
     <p>Cobrador de seguros</p>
     <p>9 MESES EN 2019</p>
     <p>COBRABA EL SEGURO DE CASA EN CASA EN BICICLETA, Y LES LLEVABA DESPUES SU POLIZA.</p>
    </div>
  </div>
</section>

<section class="education-section">
  <h2>Educación</h2>
  <div class="education-item">
   <div class="institute-logo">
    <img src="../assets/martin miguel secundaria.jpg" alt="Institute 1 Logo">
   </div>
   <div class="education-details">
    <h3>EESO Nº 244 "Martín Miguel de Güemes"</h3>
    <p>Bachiller de economía y administración</p>
    <p>2012-2017</p>
   </div>
  </div>

  <div class="education-item">
    <div class="institute-logo">
      <img src="../assets/escuela primaria.JPG" alt="Institute 2 Logo">
    </div>
    <div class="education-details">
      <h3>Escuela Primaria N°6225 Elisa Alvear De Bosch</h3>
      <p>El Primario</p>
      <p>2005-2011</p>
    </div>
  </div>
</section>
